@charset "utf-8";

#header{
    width: 100%;
}

#header h1{
    width: 64px;
    height: 41px;
    background: url(../../images/common/logo_header.png) no-repeat center center;
    text-indent: -9999px;
    float: left;
    padding: 40px 50px;
}
#header h1 a{
    display: block;
}

.gnb{
    overflow: hidden;
    text-align: center;
    margin-left: 15%;;
}
.gnb li{
    line-height: 120px;
    float: left;
    padding-right: 40px;
}
.gnb li a{
    font-weight: 700;
    color: #fff
}

body{
    background: #0f0f0f;
}